<div class="container">
  <a href="/leagues"><i class="fa-solid fa-chevron-left"></i></a>
  <h1 class="text-center text-white mt-5"> Choose a name and a sport for your league.</h1>
  <h3 class="text-center text-white"> Share the link with your friends and have fun!</h3>

  <div class="sport-icons text-center mt-5 ms-5 me-5 d-flex justify-content-between">
    <div class="pingpong">
      <i class="fa-solid fa-table-tennis-paddle-ball fa-2xl"></i>
    </div>
    <div class="futbol">
      <i class="fa-solid fa-futbol fa-2xl "></i>
    </div>
    <div class="bowling">
      <i class="fa-solid fa-bowling-ball fa-2xl"></i>
    </div>
    <div class="micro">
      <i class="fa-solid fa-microphone-lines fa-2xl"></i>
    </div>
  </div>

  <div class="form-league">
    <div class="form-inputs form_info">
      <div class="form-actions">
        <%= simple_form_for @league do |f| %>
          <%= f.input :name %>
          <%= f.input :sport, :collection => ["Arm Wrestling", "Beer Pong", "Billiard", "Boxing", "Coding", "Darts", "Foosball", "Karaoke",  "Marbles", "Ping Pong", "Tennis", "Weightlifting", "Bowling", "Other"] %>
          <div class="form-actions text-center">
            <%= f.button :submit, "Create", class: "btn btn-primary mt-5" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
