// Define variables for your color scheme

// For example:
$red: #FD1015;
//$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;


$blue: #253244;
$red: #E60F05;
$gray: #6C6C6C;
$light-gray: #B5B5B5;
