.leagues {
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  color: #253244;
  margin-bottom: 20px;
  margin-top: 5px;
  font-weight: bold;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 25px;
  margin-right: 25px;
}

.avatar-index {
  margin: auto;
  width: 75px;
  border-radius: 50%;
  margin-top: 18px;
  justify-content: center;
}

.index-league {
  color: white;
  justify-content: center;
}

.infos-index {
  margin-top: 35px;
  width: auto;
  text-align: center;
}

.profile-infos {
  display: block;
  margin: auto;
}

.your-tournament {
  width: 100%;
  margin: 40px 25px 50px 25px;
  background-color: #e6e0de;;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  color: #253244;
  box-shadow: 0 3px 10px white;
 }

 .league {
  font-weight: bold;
  color: #253244;
 }

 .new-tournament {
  color:white;
  margin-top: 25px;
 }

 .btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 20px;
  background: #E60F05;
  transition: background 0.3s ease;
  margin: auto;
  background: linear-gradient(0deg, #FD1015 0%, #fb4b02 100%);
  border: 1px solid white;
  box-shadow: 1px 1px 7px lightgray;
}

.btn-cancel {
background-color: #E60F05;
background: linear-gradient(0deg, #FD1015 0%, #fb4b02 100%);
color: white;
border-radius: 5px;
text-decoration: none;
padding: 1px 4px 0px ;
}

.btn-flat:hover {
  background: #6C6C6C;
  color: white;
}

.link-index {
  font-weight: bold;
  color: #E60F05;
}

.p-name-league {
  color: #E60F05;
  font-weight: bolder;
  font-size:17px;
}

.p-sport-league {
  font-size: 14px;
}

.p-creator-league {
  font-weight: 100;
  font-size: 13px;
  margin-top: -12px;
}

.text-infos-index {
  font-weight: 200;
}

.everything {
  margin-right: 43px;
}
