.backlink {
  // text-align: left;
  color: white;
}

.league-slider {
  text-align: center;
  text-decoration: none;
  .l-slider-leaderboard {
    background: linear-gradient(0deg, #FD1015 0%, #fb4b02 100%);
    padding: 1px 20px;
    border: 3px solid $light;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: -3px;
  }
  .l-slider-matches {
    background-color: $gray;
    padding: 1px 20px;
    border: 3px solid $light;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -3px;
  }
}

.conditional-invites {
  color: $white;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.btn-set-matches {
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  transition: background 0.3s ease;
  text-align: center;
  width: 140px;
  display: block;
  margin: auto;
  margin-top: 15px;
  background: orangered;
  border: 1px solid white;
  box-shadow: 1px 1px 7px lightgray;
}

.table-container {
  background-color: #D3D3D3;
  padding: 5px;
  display: flex;
  border-radius: 10px;
}

.table {
  margin-bottom: 0!important;
  }

tbody tr:first-child {
  background: #aff9b4;
}

tbody tr:last-child {
  background: #ff9393;
}
