
.details-card p {
  font-size: 16px;
}

.backlink {
  text-align: left;
  color: white;
}

.btn-set-matches {
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  background: #E60F05;
  transition: background 0.3s ease;
  text-align: center;
  width: 140px;
  display: block;
  margin: auto;
  margin-top: 15px;
  background: linear-gradient(0deg, #FD1015 0%, #fb4b02 100%);
  border: 1px solid white;
  box-shadow: 1px 1px 7px lightgray;
}

.table{
  max-width: 80vw;
  margin-left: 30px;
}

table {
  margin-top: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.text-color-link {
  text-align: center;
  a {
    color: white;
  }
}
