.backlink {
  text-align: left;
  color: white;
}

.details-card {
  color: $blue;
  background: $light;
  text-align: center;
  border-radius: 20px;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  border: 3px solid orange;
  box-shadow: 1px 1px 7px lightgray;
  line-height: 8px;
  margin-bottom: 20px;
  .p {
    font-size: 16px;
  }
}

.league-slider {
  text-align: center;
  text-decoration: none;
  margin-top: 25px;
  margin-bottom: 20px;
  .l-slider-leaderboard {
    background-color: $red;
    padding: 1px 20px;
    border: 3px solid $light-gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: -3px;
  }
  .l-slider-matches {
    background-color: $gray;
    padding: 1px 20px;
    border: 3px solid $light-gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -3px;
  }
}

.btn-set-matches {
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  background: #E60F05;
  transition: background 0.3s ease;
  text-align: center;
  width: 140px;
  display: block;
  margin: auto;
  margin-top: 15px;
  background: linear-gradient(0deg, #FD1015 0%, #fb4b02 100%);
  border: 1px solid white;
  box-shadow: 1px 1px 7px lightgray;
}

.table{
  max-width: 80vw;
  margin-left: 30px;
}

table {
  margin-top: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.text-color-link {
  text-align: center;
  a {
    color: white;
  }
}
