.details-card {
  text-align: center;
  border-radius: 20px;
  background-color: $light;
  align-items: center;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 20px;
  border: 2px solid red;
  box-shadow: 1px 1px 7px lightgray;
  line-height: 8px;
  margin-bottom: 20px;
}

.details-card p {
  font-size: 16px;
}

.backlink {
  text-align: left;
  color: white;
}

table {
  margin-top: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

text-color-link {
  a {
    color: white;
  }
}
