<a class="btn btn-create" href="#">Create Tournament</a>

<i class="fa-light fa-table-tennis-paddle-ball"></i>

<i class="fa-solid fa-futbol"></i>

<i class="fa-solid fa-bowling-ball"></i>

<i class="fa-solid fa-microphone-lines"></i>
