<div class="footer">
 <div class="footer-copyright">
    © 2022 Le Wapong
  </div>

  <div class="footer-links">
    <a href="https://github.com/manuelkneib/Le_WaPong" target="_blank"><i class="fab fa-github" ></i></a>
    <a href="https://www.instagram.com/lewagonportugal/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/pages/Le-Wagon/378229659642717" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>

</div>
