
<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon position-relative">
  <div class="navbar-logo">
    <a class="navbar-brand" href="/leagues">
      <%= image_tag "logo_icon_bold_complete.png", class: 'logo_image' %>
    </a>
  </div>
  <div class="hamburger-navbar">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
  <div class="collapse navbar-collapse dropdown-options" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "My Leagues", leagues_path, class: "nav-link p-0" %>
          <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
