<div class="animation_invite">
  <div id="loading">
    <div id="ball"></div>
    <div id="string"></div>
    <div id="paddle">
      <div id="head"></div>
      <div id="handle"></div>
    </div>
  </div>
</div>
