<div class="body-homepage">
  <div class="box-homepage">
    <div class="logohome">
      <%=link_to(image_tag("logo_icon_gradient_bold.png", class: "logohome"), leagues_path)%>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to "", leagues_path, class: "btn btn-start" %>
    </div>
  </div>
</div>
