
<div class="logohome">
  <%= link_to leagues_path do %>
    <%= image_tag "logo_icon_gradient", :class 'logohome' %>
    <%= image_tag "LOGO_blue_letters-removebg.png", class: 'logo_image' %>

  <% end %>
</div>

<div class="d-flex justify-content-center">
  <%= link_to "", leagues_path, class: "btn btn-start" %>
</div>
