.winner {
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background: #FD1015;
  background: linear-gradient(0deg, #FD1015 0%, #fb4b02 100%);
  color: white!important;
  text-decoration: none!important;
}
