.welcome-login {
  color: $light;
  margin-left: 25px;
  margin-right: 25px;
}


.form-login {
  box-shadow: 0 3px 10px rgb(255, 255, 255);
  margin-left: 5px;
  background-color: $light;
  align-items: center;
  margin-top: 40px;
  border-radius: 10px 10px 0px 0px;
  padding-top: 20px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  height: 70vh;
}

.form-league {
  max-height: 70vh;
  background-color: lightgrey;
  align-items: center;
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px 10px 0px 0px;
  padding-top: 20px;
  box-shadow: 0 3px 10px white;
  border: 2px solid white;


}

.form-control {
  background-color: white;
}

#form-size{
  height: 100vh;
  width: 90vw;
}

.form_info {
  width: 70vw;
  margin-left: 50px;
  padding-bottom: 20px;
}

.form-inputs {
  margin-left: 40px;
}

.email {
  border-radius: 10px;
}

.password {
  border-radius: 10px;
}

.sign-up-input {
  border-radius: 10px;
}

.first-name {
  border-radius: 10px;
}

.btn-primary {
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5 );
  background: #FD1015;
  background: linear-gradient(0deg, #FD1015 0%, rgba(251,75,2,1) 100%);
  width: 100px;
}
