
.form-login {
  background-color: lightgrey;
  align-items: center;
  margin-top: 70px;
  border-radius: 10px 10px 0px 0px;
  padding-top: 20px;
  padding-bottom: 80px;
}

.form_info {
  width: 70%;
  margin-left: 50px;
  padding-bottom: 20px;

}

.email {
  border-radius: 10px;
}

.password {
  border-radius: 10px;
}
