.navbar-lewagon {
  background: $blue;

}

.navbar-logo {
  margin: auto;
  width: 60px;
  max-height: 60px;
  margin-bottom: 8px;

  .logo_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
    width: 90%;
  }
}

.hamburger-navbar {
  position: absolute;
  left: 10px;
  top: 20px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background-color: $blue;
  color:white;
}

.nav-link {
  color: white;
}

.dropdown-options {
  padding: 12px 14px;
  position: absolute;
  top: 75px;
  background: white;
}
