.navbar-lewagon {
  background: white;
}

.navbar-logo {
  margin: auto;
  width: 60px;
  max-height: 60px;

  .logo_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
    width: 90%;
  }
}

.hamburger-navbar {
  position: absolute;
  left: 10px;
  top: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.dropdown-options {
  padding: 12px 14px;
  position: absolute;
  top: 75px;
  background: white;
}
