// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@200&family=Nerko+One&display=swap');
